// useable font weights: Oswald Normal 400, Light 300, Bold 700


// VARIABLES

$fontStack: 'Oswald', Helvetica, Arial, sans-serif;

$gradientdown: #fbf6c6;
$gradientup: #61aba1;
$cutegray: #524e4f;
$cream: #fffed8;



//************************************//
// CSS RESET SHOULD BE LINKED IN HTML //
//************************************//


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {

  background-color: $gradientdown;
  color: #121212;
}

.container {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	padding: 3%;
}

//******************************
// FANCY LETTERING HEADER
//******************************
	
	section.headingbg {
		background: -moz-linear-gradient($gradientup, $gradientdown);
		background: -webkit-linear-gradient($gradientup, $gradientdown);
		background: linear-gradient($gradientup, $gradientdown);
		height: 305px;
		display: block;
		margin: 0;
		padding: 0;
	}
	/* fontawesome */
	[class*="fontawesome-"]:before {
	  font-family: 'FontAwesome', sans-serif;
	}

	/* fontawesome */
	[class*="fontawesome-"]:before {
	  font-family: 'FontAwesome', sans-serif;
	}

	section.fancytext {
		z-index: 99;
	  position: absolute;
	  width: 100%;
	  min-width: 700px;
	  text-align: center;
	  top: 25%;
	  margin-top: -55px;      

		h1, h3 {
		  transform: matrix(1, -0.15, 0, 1, 0, 0);
		  -ms-transform: matrix(1, -0.15, 0, 1, 0, 0);
		  -webkit-transform: matrix(1, -0.15, 0, 1, 0, 0);
		}

		h1 {
		  font-family: "Oswald", Sans-serif;
		  text-transform: uppercase;
		  font-weight: 700;
		  font-size: 80px;
		  letter-spacing: 2px;
		  text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
		  margin-bottom: 25px;
		}

		h1 span {
		  display: inline-block;
		  vertical-align: middle;
		}

		span.star {
		  font-size: 20px;
		}

		h3.bordered {
		  font-family: "Open Sans", Sans-serif;
		  text-transform: uppercase;
		  font-weight: 700;
		  font-size: 25px;
		  letter-spacing: 0.33em;
		  margin-bottom: 10px;  
		  position: relative;
		}

		h3.bordered:before, h3.bordered:after {
		  content: " ";
		  position: absolute;
		  width: 210px;
		  height: 4px;
		  border-top: 2px solid #121212;
		  border-bottom: 2px solid #121212;
		  padding-bottom: 5px;
		}

		h3.bordered:before {
		  margin: 10px 0 0 -226px;
		}

		h3.bordered:after {
		  margin: 10px 0 0 10px;
		}

		h3.bordered span {
		  font-size: 18px;
		  letter-spacing: 3px;
		}
	}


//******************************
// MAIN
//******************************

	main {
		text-align: center;
		padding: 5%;
		margin: 0 auto;

		h1, h2, h3 {
			text-transform: uppercase;
		   font-family: $fontStack; 

		}

		h2 {
			margin-top: 225px;
			margin-bottom: 30px;
			font-size: 36px;
		}

		.minititle {
			font-size: 20px;
			text-transform: uppercase;
		}

		.ministar {
			font-size: 15px;
		}

		h3 {
			font-family: "Open Sans", Sans-serif;
			font-weight: 700;
			font-size: 20px;
			letter-spacing: 2px;
		}
	}


//******************************
// FORM ELEMENTS
//******************************

	// Mood selector
	.mood-selector {
		text-align: center;
		margin-bottom: 50px;
	}

	.orthing {
		margin-left: 15px;
	}

	.mood-selector input{
		margin:0;
		padding:0;

		-webkit-appearance:none;
		   -moz-appearance:none;
				appearance:none;
	}

	.mood-selector input:active +.drinkcard-cc{
		opacity: 1;}
	.mood-selector input:checked +.drinkcard-cc{
		-webkit-filter: none;
		   -moz-filter: none;
				filter: none;
	}


	.drinkcard-cc{
		cursor:pointer;
		background-size:contain;
		background-repeat:no-repeat;
		display:inline-block;
		width:200px;

		-webkit-transition: all 0.4s linear;
		   -moz-transition: all 0.4s linear;
				transition: all 0.4s linear;
		-webkit-filter: 
		// brightness(1.8)
		// grayscale(1)
		opacity(0.35);
		   -moz-filter: 
		   // brightness(1.8)
		   // grayscale(1)
		   opacity(0.35);
				filter: 
				// brightness(1.8) 
				// grayscale(1) 
				opacity(0.35);
	}
	.drinkcard-cc:hover{
		-webkit-filter: brightness(1.2) grayscale(0.5) opacity(1);
		   -moz-filter: brightness(1.2) grayscale(0.5) opacity(1);
				filter: brightness(1.2) grayscale(0.5) opacity(1);
		-webkit-transition: all 1s ease-in-out;
		   -moz-transition: all 1s ease-in-out;
				transition: all 1s ease-in-out;
	}

	// range slider

	.rangecontain {
	  display: flex;
	  width: 350px;
	  margin: auto;
	  text-align: center;
	}

	.slider {
	  width: 100%;

	}

	input[type="range"] {
	  -webkit-appearance: none !important;
	  width: 100%;
	  margin-top: 20px;
	  margin-bottom:30px;
	  margin-left: auto;
	  margin-right: auto;
	  height: 15px;
	  background-color: $cream;
	  border: 2px dotted $cutegray;
	  border-radius: 10px;
	  outline: 0;
	  transition: all 0.3s ease;
	}
	input[type="range"]:hover {
	  background-color: $gradientup;
	}

	input[type="range"]::-webkit-slider-thumb {
	  -webkit-appearance: none !important;
	  width: 20px;
	  height: 20px;
	  background-color: $cutegray;
	  border-radius: 30px;
	  box-shadow: 0px 0px 3px #3c6d59;
	  transition: all 0.5s ease;
	}
	input[type="range"]::-webkit-slider-thumb:hover {
	  background-color: $cutegray;
	}
	input[type="range"]::-webkit-slider-thumb:active {
	  box-shadow: 0px 0px 1px #3c6d59;
	}

	// effort level radios

	.prepselector {
		display: block;

	}

	table {
		border: 0;
		padding: 0;
		margin: 0 auto;

		tr td {
			width:130px;
			padding: 6px;
			text-align: center;
		}
	}


	.third {
		width: 130px;
		margin: 0;
		padding: 4px;
		display: inline;
	}

	.img3 {
		width: 110px;
	}

	span.preplabel {
		font-family: "Open Sans", Sans-serif;
		font-weight: 700;
		font-size: 20px;
		position: relative;
		bottom: -4px;
		letter-spacing: 2px;
	}

	// submit button

	form button {
		-webkit-transition: all 0.5s ease-in-out;
		   -moz-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
	
	}

	form button {
		border: 2px dotted $cutegray;
		border-radius: 10px;
		background: $gradientdown;
		outline: 0;
		font-family: "Open Sans", Sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 25px;
		letter-spacing: 0.33em;
		width: 60%;
		padding: 10px;
	}

	form button:hover, form button:focus {
		background: $gradientdown;
		box-shadow: 10px 10px $gradientup;
	}

//******************************
// SEARCH RESULTS
//******************************

.eatyrfeels	{
	margin-top: 150px;
}

a.recipelink, a.recipelink:visited, a.recipelink:active {
	text-decoration: none;
	border: 0;
}

.box {
	display: inline-block;
	width: 30%;
	background: blue;
	border: 1px solid transparent;
	border-radius: 10px;
	float: left;
	height: 140px;
	overflow: hidden;
	img{
		width: 100%;
	}

	p{
		margin: 0;
	}
}

div.box:last-of-type::after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

#recipe {
	width: 100%;
}

.results {
	border-radius: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

//******************************
// FOOTER
//******************************

footer {
	background-color: pink;
	color: white;
	display: block;
}